{% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <a class="navbar-brand" href="{{ path('app_index') }}">
        <img src="{{ asset('build/wild.png') }}" width="50" height="50" alt="">
        Wild Series
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{{ path('program_index') }}">Programs <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="{{ path('category_index') }}">Categories <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="{{ path('actors_index') }}">Actors <span class="sr-only">(current)</span></a>
        </div>
        <div>
            {% if app.user %}
                {{ app.user.email }}
                <a href="{{ path('profil_index') }}" class="btn bg-primary text-white ml-2 ">My Profil</a>
                <a class="btn bg-primary text-white ml-2" href="{{ path('app_logout') }}"> Log Out</a>
            {% else %}
                <a class="btn ml-2" href="{{ path('app_login') }}"> Sign In</a>
                <a class="btn ml-2" href="{{ path('app_register') }}"> Sign Up</a>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}
