{% extends 'base.html.twig' %}
{% block title %}Wild Series{% endblock %}
{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>{{'categorie'|trans}} : {{ program.category.name }}</p>
            <div>
                <h2> {{ season.description }}</h2>
                    <h3>{{ 'episode'|trans }} {{ episode.number }} - {{ episode.title }}</h3>
                    <p>{{ episode.synopsis}}</p>
                {% if app.user %}
                    <h3>{{ 'leave_comment'|trans}}:</h3>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type='submit' value='Ajouter mon commentaire'>
                    {{ form_end(form) }}
                {% endif %}
                <h3> {{ 'comment'|trans }} :</h3>
                {%for comment in episode.comments %}
                    <div>
                        <strong>{{ comment.author.email }}</strong>
                        <p> {{ 'season'|trans }} : {{ comment.episode.season.number}}, {{ 'episode'|trans }} :{{ comment.episode.number }}</p>
                        <p>{{ comment.comment }}</p>
                        {% if app.user %}
                        {% if is_granted("ROLE_ADMIN") or app.user.email == comment.author.email %}
                            {{ include('program/_deleteComment_form.html.twig') }}
                        {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        {{'back_list'|trans}}
    </a>
{% endblock %}