{% extends 'base.html.twig' %}
{% block title %}Wild Series{% endblock %}
{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>{{ 'categorie'|trans}} : {{ program.category.name }}</p>
            <div>
                <h2> {{ season.description }}</h2>
                <p>Année : {{ season.year }}</p>
                <ul>{{'episode.list'|trans}}:
                    {% for episode in season.episodes %}
                        <li><a href="{{ path('program_episode_show', {program:program.id, season:season.id, episode:episode.id}) }}">{{ 'episode'|trans }}
                                {{ episode.number }} - {{ episode.title }}</a></li>
                    {% else %}
                    {{'none'|trans}}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        {{'back_list'|trans}}
    </a>
{% endblock %}