{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <strong>Catégorie : {{ program.category.name }}</strong>

            {% for season in program.seasons %}
                <li><a href="/programs/{{ program.id}}/seasons/{{ season.id }}">{{ season.number }} : {{ season.description }}</a></li>
            {% else %}
                RAS mon chef !
            {% endfor %}
            <strong>Acteurs :</strong>
            <ul>
                {% for actor in program.actors %}
                    <li><a href="{{ path("actors_show", { id: actor.id }) }}">{{ actor.name }}</a> </li>
                {% else %}
                    <li>Aucun acteur pour cette série</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

{% endblock %}