{% extends'base.html.twig' %}
{% block title %}{{ actor.name }}{% endblock %}

{% block body %}
    <h1 class="text-center my-3">{{ actor.name}}</h1>
    <div class="d-flex justify-content-center align-items-center flex-wrap mt-5">
        <img class="rounded-circle" src="{{ actor.poster }}" alt="picture of {{ actor.name }}">
        <ul>
            {% for program in actor.programs %}
                <li><a href="{{ path("program_show", { slug: program.slug }) }}">{{ program.title }}</a></li>
            {% else %}
                <li>Aucune série pour cet acteur</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}